<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magento\Cms\Block\Page" type="Sm\Themecore\Block\Cms\Page" />
	<preference for="Magento\Cms\Block\Block" type="Sm\Themecore\Block\Cms\Block" />
</config>